body{
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #181616;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;

}
.container{
    display: flex;
    width: 360px;
}
.calculator{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    height: 500px;
    flex: 1;
    border: 2px solid gray;
    padding: 8px;
    background-color: #0000008c;
}

.row{
    height: 48px;
    display: flex;
    gap: 8px;
    flex: 1;
}
button,#screen{
    flex: 1;
    background-color: #7499998c;
    border: 1px solid #ffffff73;
    color: white;
}
#screen{
    display: flex;
    padding-left: 8px;
    padding-bottom: 12px;
    justify-content: flex-start;
    align-items: flex-end;
    letter-spacing: 1px;
}
